<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535008496947-gm3tbd2nrm56lfbgt13b2hl1d1r8q11k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535008496947-gm3tbd2nrm56lfbgt13b2hl1d1r8q11k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>535008496947-1fin993ijbmljkvid254gc500c4456iv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDyy8pE3ksJhsBdPCzfN0XJ1c0ZfHN0xM</string>
	<key>GCM_SENDER_ID</key>
	<string>535008496947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petapp</string>
	<key>PROJECT_ID</key>
	<string>petapp-6a070</string>
	<key>STORAGE_BUCKET</key>
	<string>petapp-6a070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535008496947:ios:1b31ecd0959a9816184246</string>
</dict>
</plist>